<header class="nav"><div class="wrap nav-in">
  <a class="brand" href="/">WHRNXT<span class="tick">&#9656;</span></a>
  <nav class="nav-links">
    <a href="/#find">Cities</a>
    <a href="/#plan">Trip planner</a>
    <a href="/#transit">Transit</a>
    <a href="/articles/">Articles</a>
  </nav>
  <a class="btn btn-signal" href="{{ site.appUrl }}">Open app &#9656;</a>
</div></header>
